.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header {
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.color {
  background-color: rgb(244, 248, 248);
  height: 100vh;
}
